header {
    align-items: center;
    background: $header-grey;
    padding: .5rem 0;

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (min-width:576px) {
            flex-direction: row;
            justify-content: center;
            justify-content: space-between;
            align-items: center;
        }

        // width: 70%;
        .logo {
            width: 15%;
        }

        &__nav {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex: 1;

            @media screen and (min-width:576px) {
                width: 35%;
                justify-content: flex-end;
            }

            a {
                text-decoration: none;
                color: $dark-grey;
                padding: 1rem;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

footer {
    margin: 0 0 0 0;
    padding: 7em;
    background: $dark-grey;
    color: white;
    text-align: center;
    height: 30vh;

    .footer__links a {
        padding: 1em 2em;
        margin: 1em;
        color: honeydew;
        text-decoration: none;
    }
}

.hip {
    font-size: 3em;
    font-weight: 600;
}