* {
    box-sizing: border-box;
}


.menu {
    width: 90vw;
    background-color: lightgrey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: auto;

    .section {
        width: 48%;
        background-color: lightblue;

        display: flex;
        flex-flow: row nowrap

        div {
            background-color: lightsalmon;
            min-width: 80%;
            text-align: left;
        }

        div:last-child() {
            background-color: lightgreen;
            text-align: left;

        }


        
    }
    
}