* {
    box-sizing: border-box;
}

body {

    margin: 0 auto;

    h2 {
        margin: 0;
        padding: 0;
        
    }

    .menu {
    
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 2em 0;
    
        @media(max-width: 576px) {
            flex-flow: column nowrap;
            width: 90%
        }
        
        .section {
            width: 48%;
    
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: 1em;
    
            @media(max-width: 576px) {
                width: 100%;
            }
    
            .section__title {
                font-size: 1.2em;
                padding: 0 0 0.5em 0;
                
            }
    
            .section__item {
    
                display: flex;
                div:first-child {
                    min-width: 80%;
                    text-align: left;
                    padding-right: 1rem;
                }
        
                div:last-child {
                    min-width: 20%;
                    text-align: left;
                }
            }
        }
    }

}



